.container{

    
    margin-bottom: 100px;
}

.buy-now{

    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    margin-bottom: 5px;
}

.carousel-item{


    background-image: url("images/bg/header-bg.png");
}


.carousel-indicators li {

    background-color:gray;
}

.carousel-indicators .active{

    background-color:orange;
    opacity: 1;

}


.card img{

    width: 75%;
    margin: 20px auto;
    
}

.card{

    border: none;
    box-shadow: 1px 1px 10px lightgray;
}

.card-footer{

    margin: 0 auto;
    border: none;
    background-color: white;
    
}




.card-img-top img{

    justify-content: center;
    
}


hr{

   background-image: linear-gradient(45deg, red, orange);
   height: 5px;
   width: 70px;
   border-radius: 5px;
   margin-bottom: 85px;
   
    
}



.categories-display{


    margin:0px 20px ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.row-section{


    height: 400px;
}


.product

{

   box-shadow: 1px 1px 20px darkgray;
   border-radius: 10px 0px;
   margin-top: 20px;
   margin-bottom: 30px;
   padding: 20px ;

  
  
   
}


.product img{

  margin: 0 auto;

}

#market-place{

    display: flex;
    flex-wrap: wrap;
}

